<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>HttpEncodingFilter</filter-name>
    <filter-class>com.apache.Filter.HttpEncodingFilter</filter-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>HttpEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>RegCheck</servlet-name>
    <servlet-class>com.apache.Check.RegCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegCheck</servlet-name>
    <url-pattern>/RegCheck.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegInfEntry</servlet-name>
    <servlet-class>com.apache.Check.RegInfEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegInfEntry</servlet-name>
    <url-pattern>/RegInfEntry.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogCheck</servlet-name>
    <servlet-class>com.apache.Check.LogCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogCheck</servlet-name>
    <url-pattern>/LogCheck.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExcelDataInput</servlet-name>
    <servlet-class>com.apache.DataInput.ExcelDataInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelDataInput</servlet-name>
    <url-pattern>/ExcelDataInput.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdataInf</servlet-name>
    <servlet-class>com.apache.Check.UpdataInf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdataInf</servlet-name>
    <url-pattern>/UpdataInf.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PwdChange</servlet-name>
    <servlet-class>com.apache.Check.PwdChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwdChange</servlet-name>
    <url-pattern>/PwdChange.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersTable</servlet-name>
    <servlet-class>com.apache.Table.UsersTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersTable</servlet-name>
    <url-pattern>/UsersTable.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OLStandardDataInput</servlet-name>
    <servlet-class>com.apache.DataInput.OLStandardDataInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OLStandardDataInput</servlet-name>
    <url-pattern>/OLStandardDataInput.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OLParaeterDataInput</servlet-name>
    <servlet-class>com.apache.DataInput.OLParaeterDataInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OLParaeterDataInput</servlet-name>
    <url-pattern>/OLParaeterDataInput.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataTrainCreate</servlet-name>
    <servlet-class>com.apache.DataInput.DataTrainCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataTrainCreate</servlet-name>
    <url-pattern>/DataTrainCreate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>id3</servlet-name>
    <servlet-class>com.apache.Algorithm.id3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>id3</servlet-name>
    <url-pattern>/id3.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bayes</servlet-name>
    <servlet-class>com.apache.Algorithm.bayes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bayes</servlet-name>
    <url-pattern>/bayes.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>knn</servlet-name>
    <servlet-class>com.apache.Algorithm.knn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>knn</servlet-name>
    <url-pattern>/knn.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doInf</servlet-name>
    <servlet-class>com.apache.DataInput.doInf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doInf</servlet-name>
    <url-pattern>/doInf.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>com.apache.DataInput.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test.do</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  
  
  

  
  
  
  
  
</web-app>